@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* ROOT  */

:root {
    --dark_opacity: #00000033;
    --shadow_light: #dfd9d966;
    --primary_color: #1c5550;
    --button: #C3B97F;
    --text_frame: #DFD9D9;
    --current_line: #91B599;
}

/* CONTAINER  */

.container {
    width: 1440px;
    margin: auto;
    display: grid;
    padding: 32px 20px;
    background-color: var(--primary_color);
    column-gap: 40px;
    row-gap: 48px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10px 150px 150px 300px;
    grid-template-areas:
        "HEADER HEADER HEADER HEADER"
        "ASIDE BCARD BCARD IMG1"
        "ASIDE BCARD BCARD IMG2"
        "CARD1 CARD2 CARD3 CARD4";
}

/* HEADER  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 40px; */
    grid-area: HEADER;
}

/* HEADER NAV  */

.header_ul {
    display: flex;
    column-gap: 84px;
}

.header_text {
    color: var(--text_frame);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

         /* RIGHT SIDE FRAME */

.right_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
}

/* SEARCH  */

.search {
    display: flex;
    width: 315px;
    padding: 8px 20px 7px 20px;
    justify-content: flex-end;
    gap: 100px;
    border-radius: 4px;
    background: var(--dark_opacity);
    box-shadow: 1.52px 3px 3px -0.8px var(--dark_opacity) inset, 0px -0.3px 1px 0px var(--shadow_light) inset;
}

.search_text {
    color: var(--current_line);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

/* ICONS  */

.user_icon {
    padding: 4px;
    border-radius: 4px;
    background: var(--dark_opacity);
    box-shadow: 0px 2px 4px -2px var(--shadow_light) inset, 0px 2px 4px 0px var(--dark_opacity);
}

.cart_icon {
    padding: 4px;
    border-radius: 4px;
    background: var(--dark_opacity);
    box-shadow: 0px 2px 4px -2px var(--shadow_light) inset, 0px 2px 4px 0px var(--dark_opacity);
}

       /* ASIDE  */

aside {
    grid-area: ASIDE;
    display: flex;
    flex-direction: column;
    background: var(--dark_opacity);
    box-shadow: 0px 4px 4px 0px var(--dark_opacity) inset, 0px -1px 4px 0px var(--shadow_light) inset;
}

.aside_title {
    color: var(--button);
    margin: 38px 0 16px 40px;
    font-family: 'Inter', sans-serif;
    line-height: 27px;
}

.aside_current_text {
    color: var(--current_line);
    margin-left: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--current_line);
}

.aside_text {
    color: var(--current_line);
    margin-left: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

    /* BIG CARD  */

.big_card {
    grid-area: BCARD;
    position: relative;
}

.big_card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BIG CARD BUY FRAME  */

.large_buy_frame {
    display: inline-flex;
    align-items: center;
    gap: 398px;
    background: var(--text_frame);
    position: absolute;
    left: 0%;
    top: 91.4%;
}

.large_price {
    color: var(--primary_color);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 20px;
}

.large_button {
    display: flex;
    width: 180px;
    height: 40px;
    padding: 9px 50px 9px 51px;
    justify-content: center;
    align-items: center;
    background: var(--button);
    color: var(--text_frame);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    border: none;
}

/* IMG 1 CARD  */

.img_1_card {
    grid-area: IMG1;
}

/* IMG 2 CARD  */

.img_2_card {
    grid-area: IMG2;
}

/* BOTTOM CARDS  */

.img_card_1 {
    grid-area: CARD1;
    position: relative;
}

.img_card_2 {
    grid-area: CARD2;
    position: relative;
}

.img_card_3 {
    grid-area: CARD3;
    position: relative;
}

.img_card_4 {
    grid-area: CARD4;
    position: relative;
}

/* BOTTOM CARD TITLE  */

.bottom_title {
    color: var(--primary_color);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
    position: absolute;
    top: 0%;
    left: 2%;
}

/* BOTTOM CARD PARAGRAPH  */

.bottom_p {
    color: var(--text_frame);
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    margin: 8px 0 8px 0;
}

/* BOTTOM CARD BUY FRAME  */

.bottom_buy_frame {
    display: inline-flex;
    align-items: center;
    gap: 144px;
    background: var(--text_frame);
}

.bottom_price {
    color: var(--primary_color);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 24px;
    padding: 8px;
}

.bottom_button {
    display: flex;
    width: 97px;
    height: 40px;
    padding: 9px 8px 9px 10px;
    justify-content: center;
    align-items: center;
    background: var(--button)F;
    color: var(--text_frame);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    border: none;
}